<!doctype html>

<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
</head>

<body class="body">
  
  <title>3v3 Tournament Survey</title>
  <div id="title">
       <h1>3v3 Tournament Survey</h1>   
     </div> <!--title-->
  <h2>Thank you for taking the time to complete this survey</h2>   
   <div id="container">
    <div id="form-container">
    <h2>Thank you for creating a team</h2>
    <p>Please tell your team members to join the team you created</p>
     
     </div> <!--form-container-->
  <div> <!--container-->
 
</body>
</html>